table {
	width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
section.notice {
  padding: 80px 0;
}

.page--static {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	max-width: 1220px;
	margin: 0 auto;
	padding: 2em 0 0;
	text-align: center;
}

.js .page--static {
	pointer-events: none;
}

.view--grid .page--static {
	pointer-events: auto;
}

.page-title {
  margin-bottom: 60px;
}
.page-title h3 {
  font-size: 28px;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

#board-search .search-window {
  padding: 15px 0;
  background-color: #0047AB;
}
#board-search .search-window .search-wrap {
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 100%;
  /*max-width: 564px;*/
}
#board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 10px;
  padding: 7px 14px;
  border: 1px solid #fff;
}
#board-search .search-window .search-wrap input:focus {
  border-color: #fff;
  outline: 0;
  border-width: 1px;
}
#board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 16px;
  width: 100%;
  border: 2px solid #ccc;
}

.board-table a {
  color: #fff;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 200px;
  text-align: center;
}

.board-table .th-date {
  width: 300px;
}

.board-table th, .board-table td {
  padding: 15px 0;
}

.board-table tbody td {
  border-top: 1px solid #fff;
  text-align: center;
}

.board-table tbody th {
  padding-left: 24px;
  padding-right: 18px;
  border-top: 1px solid #fff;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

/*공지사항 디테일 페이지*/

.table-common>table {
	width: 100%;
	border-collapse: collapse;
}

.table-common .btn-box {
	text-align:center;
}

.table-common>table th, .table-common>table td {
	border: 1px solid black;
	padding: 10px;
}
.article-detail {
    border:2px solid lightgray;
}

.article-detail > table {
    border:none;
    /*width:calc(100% - 100px);*/
    width:100%;
}

.article-detail > table th, .article-detail > table td {
    border:none;
}

.article-detail > table tr:not(:last-child) {
    border-bottom:2px solid lightgray;
}

.article-detail > table tr:not(.article-body), .article-detail > table tr:not(.article-body) > td{
    height:30px;
    font-size:1rem;
}

.article-detail > table tr.article-title > td {
    height:50px;
    font-weight:bold;
    font-size:1rem;
}

.article-detail > .article-writer {
    width:100%;
    height:102px;
    background-color:lightgray;
    border-bottom:1px solid lightgray;
    text-align:center;
}

.article-detail > .article-writer .writer-icon {
    margin:0 auto;
    background-color:white;
    width:80px;
    height:80px;
    border-radius:50%;
}

@media screen and (max-width: 56em) {
	.header {
		padding: 1em;
	}
	.title-wrap {
		font-size: 100%;
		margin: 85px 0 0 0;
	}
	.page__title-main {
		font-size: 3em;
	}
	.page__title-sub {
		margin-bottom: 1em;
	}
	.grid__item {
		width: 50%;
		max-width: none;
	}
	#back-icon{
		width: 50px;
		position: fixed;
	}

	.board-table {
		font-size: 13px;
	}
    .sub-text{
        font-size: 13px;
    }
        
   

	.board-table .th-num {
		width: 80px;
		text-align: center;
	}

	.board-table .th-date {
		width: 120px;
	}

	.board-table th, .board-table td {
		padding: 8px 0;
	}

	.board-table tbody td {
		border-top: 1px solid #fff;
		text-align: center;
	}

	.board-table tbody th {
		padding-left: 15px;
		padding-right: 10px;
		border-top: 1px solid #fff;
		text-align: left;
	}
}